html {
  font-size: 5px;
}
@media only screen and (min-width:600px) {
  html,
  body {
    font-size: 7px;
  }
}
@media only screen and (min-width: 900px) {
  html,
  body {
    font-size: 10px;
  }
  .header-img {
    width: 100%;
  }
  p {
    font-size: 3rem;
  }
}
@media only screen and (min-width:1200px) {
  html,
  body {
    font-size: 13.5px;
  }
  .header-img {
    width: 50%;
  }
}
/* ※min,max-widthはイコールという意味ではない */
/* min-width,max-widthどちらにも適用する 要はmax-widthだけにすればPC対応。 */
@media only screen and (min-width:1600px) and (max-width:1600px) {
  html,
  body {
    font-size: 13.5px;
  }
}
@media only screen and (max-width:1600px) {
  .pc-only {
    display:none;
  }
}

a.fab {
  text-decoration:none;
  color: unset;
  font-size:1em;
  user-select:none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
}
a.fab:hover {
  animation-name: test;
  animation-duration:1.1s;
  animation-fill-mode:forwards;
  opacity:1;
}
@keyframes test {
  20%{
    font-size:350%;
    }
  40%{
    font-size:360%;
  }
  50%{
    font-size:430%;
  }
  80%{
    font-size:450%;
  }
  100%{
    font-size:400%;
    transform: rotate(1turn)
    }
  }

p {
  font-size: 2.8rem;
}

body {
  font-family: "Avenir Next";
  background: #f0f0f0;
  margin: 0;
  flex-wrap:warp;
  word-wrap: break-word;
  overflow-wrap:break-word;
}

.header-img {
  width: 100%;
}

.width_backgounrd {
  padding:0% calc(0% - 8rem);
}

li {
  list-style: none;
  font-size: 2.3rem;
}

main {
  max-width: 1920px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.main {
  max-width: 1920px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.header {
  overflow: hidden;
  background: #ffffff;
  color: rgb(58, 58, 58);
  height: 90px;
  padding: 0px calc(8.8% - 4rem);
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  width: calc(100% - 4rem);
  flex-wrap:wrap;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
  letter-spacing: 0.05em;
}
.header-logo img{
  float: left;
  padding: 0px 5px;
}

.header-sub {
  float: left;
  font-size: 25px;
  padding: 28px 20px;
  letter-spacing: 0.05em;
  padding-left: 0px;
}

.header a {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: rgb(245, 245, 245);
  padding: 20px 40px;
  background-color: rgb(42, 79, 134);
  border-color: rgb(0, 132, 255);
  border: none;
  position: relative;
  top: 22px;
  left: 3%;
}

nav {
  display: grid;
  width: 100%;
  background: linear-gradient(90deg, #a17d35,#9b7b3d,#91743a,#e2d2b0,#fff, #8d733f);
  position: sticky;
  top: 0px;
  z-index: 1024;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(24px);
}

nav ul {
  text-align: center;
  display: -moz-inline-grid;
  overflow-x: auto;
  width: 100%;
  margin: 0;
  padding: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
  margin-left: auto;
  margin-right: auto;
  max-width: 115rem;
  width: calc(100% - 1rem);
}

nav li {
  padding: 6px
}

/*スマホ画面で例１のハンバーガーメニューの形にする*/
@media screen and (max-width: 800px) {
  nav {
    position: relative;
  }
  nav ul {
    display: -moz-inline-grid;
    padding: 0px;
    width: calc(100% - 2rem);
  }
  .header-logo {
    padding: 0px;
  }
  .header-sub {
    float: inline-end;
    font-size: 19px;
    padding: 0px 0px;
    letter-spacing: 0.05em;
    position: relative;
    top: 8px;
  }
  .header a {
    margin:0px;
    padding:2px 100px;
    position: relative;
    top: 18px;
    left: 0px;
  }
}

a.tabs-button {
  color: black;
  text-decoration:none;
  font-size:2.5rem;
  margin:0px;
  padding:0px;

  display: flex;
  transition: all 300ms 0s ease-out;
}
a.tabs-button:hover {
  color: rgb(255, 255, 255);
  text-decoration:none;

  text-shadow: 0 0 12px rgb(0, 0, 0);
  text-shadow: 0 0 30px rgba(192, 176, 34, 0.856);
  padding: 0px 2.5px;
}
a.tabs-button.black {
  color: rgba(158, 158, 158, 0.596);
}
a.tabs-button.black:hover {
  background: #39393b;
  box-shadow: 11px 0;
}
a.tabs-button.black:active {
  color: rgba(255, 0, 0, 0.596);
  background: #4b0000;
  box-shadow: 11px 0;
}

.footer {
  background: linear-gradient(90deg, #a17d35,#9b7b3d,#91743a,#e2d2b0,#fff, #8d733f);
  color: black;
  z-index: 10;
  padding:5px;
  overflow-x: auto;
  max-width:100%;
  justify-content: center;
}

.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list {
  justify-items: center;
  margin: 0 0 0 1em;
  max-width:100%;
  white-space: normal;
  display:inline-flexbox;
}

.footer-list ul {
  padding: 0px;
  display: flex;
  flex-wrap:wrap;
  table-layout:fixed;
  justify-content: center;
}

.footer-list li {
  padding-bottom: 20px;
  
  white-space:nowrap;
  justify-content: center;
  display:flex;
  
  /* border: 1px solid #aaa; */
  line-height: 120%;
  margin: 0.2em;
  padding: 0.5em;
  text-align: center;
  width: 8em;

  position:relative;
  bottom:10px;
  border-radius: 22px;
}

.footer-button a {
  color:black;
  text-decoration:none;
  font-size:2.5rem;
}
.footer-button:hover {
  transition: all 300ms 0s ease-out;
  box-shadow: 8.5px 0 white;
}

@media screen and (max-width: 900px) {
  .left-picture {
    float: unset;
    position: relative;
    left: 10rem;
  }
}
@media screen and (max-width: 1200px) {
  
}

.popup {
  display: none;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
}

.content{
  background: #fff;
  padding: 30px;
  width: 50%;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
  background: #52c0ff96;
  color:rgb(0, 71, 138);
  border-radius: 22px;
  margin: 3%;
  padding: 1.1% 1.5%;
}

.circle-shap {
  border-radius: 22px;
}
.text-background-circle {
  background: lightgray;
  padding: 0% 4%;
  border-radius: 22px;
}
.text-background-circle.blue {
  background: linear-gradient(to right, blue, rgb(43, 153, 255), aqua);
  color: white;
}

.box1 {
    margin: 2.3em 0.5rem;
    margin-bottom: 3.8em;
    background: white;
    text-align: center;
    border-radius: 10px / 10px;
    display: flexbox;
    flex-wrap:wrap;
}
.box1 .box-title {
    font-size: 4.4em;
    background: #59aff5;
    padding: 6px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box1 p {
    /*padding: 15px 150px;*/
}
.box1 address a {
  margin: 0.1rem;
  font-size:2.5em;
}
.box1 a {
  font-size:103%;
}
.box1 ol {
  text-align: left;
}

/* 色付きbox */
.box1.black {
  background:#f0f0f0;
  border: solid 2px #ffffff;
}
.box1.white {
  background:#292929;
  color: #ffffff;
  border: solid 2px #ffffff;
}
.box1.wood {
  background-image: url("木目模様2（茶色）.jpg");
  background-color: rgba(0, 0, 0, 0.781);
  background-blend-mode:lighten;
  color: #ffffff;
  border: solid 2px #ffffff;
}

.box1 .box-title--black {
  font-size: 4.4em;
  background: #222222;
  padding: 6px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box1 .box-title--blue {
  font-size: 4.4em;
  background: #001e57;
  padding: 12px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box1 .box-title--yellow {
  font-size: 4.4em;
  background: rgba(255, 255, 255, 0.103);
  padding: 6px;
  text-align: center;
  color: rgb(255, 230, 0);
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box1 .box-title--news {
  font-size: 4.4em;
  padding: 15px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;

  background-color: #e74c3c;
  animation: bg-color 0s infinite;
  -webkit-animation: bg-color 0s infinite;
}
@-webkit-keyframes bg-color {
  0% { background-color: #ffae95; }
  20% { background-color: #a9f5ff; }
  40% { background-color:#89d0ff; }
  60% { background-color: #3498db; }
  80% { background-color: #001e57; }
  100% { background-color: #e74c3c; }
}
@keyframes bg-color {
  0% { background-color: #ffae95; }
  20% { background-color: #a9f5ff; }
  40% { background-color:#89d0ff; }
  60% { background-color: #3498db; }
  80% { background-color: #001e57; }
  100% { background-color: #e74c3c; }
}

.before-credo {
  margin-top: .5rem;
}
.credo {
  padding: 15px 20px;
  margin: 0;
  display: inline-block;
}
.credo li {
  margin-bottom: .5rem;
  text-align: left;
  list-style: unset;
  font-size: 2.8rem;
}
.credo a {
  font-size: 2.8rem;
}
.credo.list-style-none li {
  text-align: center;
  list-style: none;
}

gray-out {
  color: #646464;
  font-size: 99%;
}

.left-and-right-handed-drawing {
  padding: 0px;
}

.left-and-right-handed-drawing p {
  display: inline-block;
  margin: auto 35px;
  float: left;

  position: relative;
  top: 6rem;
  left: -7rem;
}
.left-and-right-handed-drawing img {
  display: inline-block;
  margin: auto 35px;
  float: right;
  
  position: relative;
  bottom: 3rem;
  right: 6rem;
  transition: all 300ms 0s ease-in;
}
.left-and-right-handed-drawing:hover img {
  width: 20em;
}
.left-and-right-handed-drawing li {
  margin: 0 auto;
  text-align: center;
  width: 63em;
  height: 18em;
  border: solid 0px #000000;
  background-color:rgb(221, 221, 221);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);

  position:relative;
}
@media only screen and (max-width: 900px) {
  .left-and-right-handed-drawing {
    display: grid;
    padding: 0px;
    position: relative;
    bottom: 0;
    right: 0;
  }
  .left-and-right-handed-drawing img {
    margin: auto;
    position: relative;
    top: 110px;
    transition: all 300ms 0s ease-in;
  }
  .left-and-right-handed-drawing:hover img {
    width: 18em;
  }
  .left-and-right-handed-drawing li {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 18em;
    border: solid 0px #000000;
    background-color:rgb(221, 221, 221);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
    position:relative;
  }
}

.board li {
  width: 500px;
  padding-bottom: 17px;
  background: rgba(0, 0, 0, 0.034);
  margin: 5px auto;
  align-items: center;
  position: relative;
  right: 20px;
  border-radius: 20px / 20px;
  display: inline-grid;
}

.board p {
  color: black;
  margin: auto;
}
li-title {
  font-size: 2.5rem;
  color: #b10000;
  border-bottom: 2px solid #dd4b4b;
  background: rgba(255, 17, 0, 0.123);
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 200ms 0s ease-in;

  /**グラデーションが合わなかったから追加しなかった
  background: linear-gradient(to right, rgb(255, 0, 64), pink);
  **/
}
li-title:hover {
  border-bottom: 2px solid #f03f3f;
  color: #f03f3f;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.301);
}

.left-picture {
  float: left;
  position: absolute;
  left: 10rem;
}
.left-aligned {
  text-align: left;
}

chapter {
  position: absolute;
  margin-left: -1.5rem;
  transition: all 280ms 0s ease-in;
  color: green;
}
chapter:hover {
  color: rgb(24, 194, 24);
}

.font-cursive {
  font-family: cursive;
}
.font-arialblack {
  font-family: arial black;
}

address a:hover {
  background-color: #3a4ad625;
}
a.link:hover {
  background-color: #3a4ad625;
}

@media only screen and (max-width:800px) {
  a.btn {
    font-size: 5px;
  }
  .left-picture {
    float: unset;
    position: relative;
    left: 0rem;
  }
}
@media only screen and (min-width:1600px) {
  a.btn {
    font-size: 18px;
  }
}
a.btn {
  color: rgb(255, 255, 255);
  background-color: #0481ff;
  text-decoration:none;
  padding: 5px 20px;
  border-radius: 24px / 24px;
  transition: all 200ms 0s ease-out;
  font-size: 2.8rem;
}
a.btn--black:hover {
  margin-top: 3px;
  color: rgb(255, 255, 255);
  background: #0071e3;
}

a.btn2 {
  color: rgb(255, 255, 255);
  background-color: #4e4e4e;
  border-bottom: 5px solid #000000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  text-decoration:none;
  transition: all 300ms 0s ease-out;
  padding: 0px 12px;
  border-radius: 10px 10px;
  font-size:1.6em;
}
a.btn2--black:hover {
  margin-top: 3px;
  color: rgba(51, 51, 51, 0.349);
  background: #ffffff;
  border-bottom: 2px solid #9b9b9b;
}

a.button {
  color: black;
  text-decoration:none;
  font-size:2.8rem;
  border-radius: 0px 15px;
  transition: all 300ms 0s ease-out;
  margin: 0%;
  display: flex;
  align-items: center;
}
.footer-list li:hover {
  background: #9e9e9e;
  float: none;
  border-radius: 0px 15px;
}
a.button:active {
  color: rgb(163, 163, 163);
  border-radius: 24px / 23px;
}
a.button.black {
  color: rgb(151, 151, 151);
  background: #2c2c2c;
}
a.button.black:hover {
  background: #000000;
}
a.button.black:active {
  color: white;
}

.text-button {
  text-decoration:none;
  color: black;
  font-size: 2.8rem;
  position: relative;
  left: 5px;
  transition: all 300ms 0s ease;
  display: inline-block;
}
.text-button:hover {
  /* color: #fff; */
  font-size: 2.84rem;
}

.hidden {
  align-items: auto;
  color: rgba(255, 255, 255, 0);
  transition: all 300ms 0s ease;
}

/** ボタン **/
.disp-box label {
  display: inline-block;
  color: #f0f0f0;                   /* ボタンの文字色 */
  background-color: #525252;        /* ボタンの背景色 */
  font-weight: bold;                /* 文字の太さ */
  padding: 0.5em 1em;               /* ボタン内側の余白 */
  border-bottom: solid 4px #3b3b3b; /* ボタンの影部分 */
  border-radius: 24px / 23px;               /* 角丸 */
  cursor: pointer;                  /* ボタンにカーソルを合わせた時に指アイコンを表示 */
}
/** ボタンクリック時のボタンを押し込む動作 **/
.disp-box label:active {
  -webkit-transform: translateY(4px); /* Chrome、Safari用 */
  -moz-transform: translateY(4px);    /* Firefox用 */
  -ms-transform: translateY(4px);     /* IE用 */
  transform: translateY(4px);
  border-bottom: none;
}
/** チェックボックス **/
.disp-box input {
  display: none; /* 非表示 */
}
/** 表示・非表示を切り替えるテキスト（「クリックされました！」の部分） **/
.disp-box .text {
  color: #e2242a;    /* 文字色 */
  font-weight: bold; /* 文字の太さ */
  overflow: hidden;
  opacity: 0;        /* 文字を非表示 */
  transition: 0s;  /* 文字が表示・非表示される時のスピード */
}
/** チェックボックスにチェックが入った時の、テキストの処理 **/
.disp-box input:checked ~ .text {
  height: auto;
  opacity: 1; /* 文字を表示 */
}
